{% extends 'layout.html' %} {% block content %}
<table>
  <tr>
    <th>User id</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Middle name</th>
    <th>Email</th>
    <th>Password</th>
  </tr>

  {% if users %} {% for user in users %}
  <tr>
    <td>{{ user[0] }}</td>
    <td>{{ user[1] }}</td>
    <td>{{ user[2] }}</td>
    <td>{{ user[3] }}</td>
    <td>{{ user[4] }}</td>
    <td>{{ user[5] }}</td>
  </tr>
  {% endfor %} {% else %}
  <tr>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
  </tr>
  {% endif %}
</table>
{% endblock %}
