{% extends 'layout.html' %} {% block content %}
<table>
  <tr>
    <th>Comment id</th>
    <th>Content</th>
    <th>Date</th>
    <th>Post id</th>
    <th>User id</th>
  </tr>

  {% if comments %} {% for comment in comments %}
  <tr>
    <td>{{ comment[0] }}</td>
    <td>{{ comment[1] }}</td>
    <td>{{ comment[2] }}</td>
    <td>{{ comment[3] }}</td>
    <td>{{ comment[4] }}</td>
  </tr>
  {% endfor %} {% else %}
  <tr>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
    <td>None</td>
  </tr>
  {% endif %}
</table>
{% endblock %}
