{% extends 'layout.html' %} {% block content %}

<div class="authenticatin-form-container">
  <form method="POST">
    {{ register_form.csrf_token() }}
    <div class="form-group">
      {{ register_form.email.label(class="label") }} {{
      register_form.email(class="input") }}
    </div>
    <div class="form-group">
      {{ register_form.first_name.label(class="label") }} {{
      register_form.first_name(class="input") }}
    </div>
    <div class="form-group">
      {{ register_form.middle_name.label(class="label") }} {{
      register_form.middle_name(class="input") }}
    </div>
    <div class="form-group">
      {{ register_form.last_name.label(class="label") }} {{
      register_form.last_name(class="input") }}
    </div>
    <div class="form-group">
      {{ register_form.password.label(class="label") }} {{
      register_form.password(class="input") }}
    </div>
    <div class="form-group">
      {{ register_form.confirm_password.label(class="label") }} {{
      register_form.confirm_password(class="input") }}
    </div>
    <div class="form-group">
      {{ register_form.submit(class="btn success") }}
    </div>
    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
  </form>
</div>

{% endblock %}
