.friend-list-container {
  width: 90%;
  margin: 20px auto 0 auto;
  min-height: calc(100vh - 80px);
}

.friend-list-container section {
  display: flex;
  justify-content: space-between;
}

.friend-list-container section div {
  width: 30%;
  margin: auto;
  min-height: 50vh;
}

.friend-list-container section div h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid gray;
}

.friend-list-container section div div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.friend-list-container section div div p {
  padding: 8px;
  margin-top: 6px;
  transition: all 1000ms;
  background-color: white;
  cursor: pointer;
  box-shadow: var(--shadow);
}

.friend-list-container section div div p:hover {
  background: var(--light-gradient-color);
  border-radius: 10px;
}

.friend-list-container section div div p a {
  color: black;
  text-decoration: none;
}

.check:hover {
  color: var(--blue-color);
}

.cross:hover {
  color: var(--red-color);
}
