{% extends 'layout.html' %} {% block content %}
<div class="container">
  <form action="" method="POST">
    <div class="form-group">
      {{ post_form.content.label(class="label") }} {{
      post_form.content(class="text") }}
    </div>
    <div>{{ post_form.submit(class="btn success") }}</div>
  </form>

  {% for post in posts %}
  <div class="posts-container">
    <div class="post-header">
      <h3>Name</h3>
      <span>{{ post[2].split(' ')[0] }}</span>
    </div>
    <div class="posts-contents">
      <p>{{ post[1] }}</p>
    </div>
    <div class="move-posts">
      <p onclick="add_like( '{{post[3]}}' )">
        <span id="likes"> {{ post[3] }} </span> Like
      </p>
      <p href="#">Comment</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
