{% extends 'layout.html' %} {% block content %}
<div class="container">
  <form action="" method="POST">
    <div class="form-group">
      {{ post_form.content.label(class="label") }} {{
      post_form.content(class="text") }}
    </div>
    <div>{{ post_form.submit(class="btn success") }}</div>
  </form>

  {% if posts %} {% for post in posts %}
  <div class="posts-container">
    <div class="post-header">
      <h3>{{post[4]}} {{ post[5] }}</h3>
      <span>{{ post[2].split(' ')[0] }}</span>
    </div>
    <div class="posts-contents">
      <p>{{ post[1] }}</p>
    </div>
    <div class="move-posts">
      <a href="{{ url_for('main.like_post', post_id=post[0]) }}"
        ><span id="likes"> {{ post[6] }} </span> Like</a
      >
      <a href="{{ url_for('main.post', post_id=post[0]) }}">Comment</a>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>

{% endblock %}
