<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='form.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='navigation.css') }}"
    />
    <title>Social | {{ title }}</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="flashes {{ category }}">
      <p>{{ message }}</p>
    </div>
    {% endfor %} {% endif %} {% endwith %} {% if current_user.is_authenticated
    %}
    <nav>
      <div class="left-container">
        <a href="{{ url_for('index') }}" class="nav-items">home</a>
        <a href="#" class="nav-items">messages</a>
      </div>
      <div class="right-container">
        <a href="#" class="nav-items">account details</a>
        <a href="{{ url_for('logout') }}" class="nav-items">logout</a>
      </div>
    </nav>
    {% endif %}
    <!--  -->
    {% block content %} {% endblock %}
  </body>
</html>
