{% extends 'layout.html' %} {% block content %}

<div class="container">
  <div class="comment-container">
    <div>
      <h4>{{ current_post[4] }} {{ current_post[5] }}</h4>
      <span>{{ current_post[2].split(' ')[0] }}</span>
    </div>
    <p>{{ current_post[1] }}</p>
  </div>
  <form method="post">
    <div class="form-group">
      {{ comment_form.content(class="text") }} {{ comment_form.submit(class="btn
      success") }}
    </div>
  </form>
  {% for comment in comments %}
  <div class="comment-container" style="width: 60%">
    <div>
      <h4>{{comment[3]}} {{comment[4]}}</h4>
      <span>{{ comment[2].split(' ')[0] }}</span>
    </div>
    <p>{{ comment[1] }}</p>
  </div>
  {% endfor %}
</div>

{% endblock %}
